#blogViewerContainer{
    margin-top: 15vh;
    display: inline-block;
    width: 45%;
    margin-left: 20%;
    font-family: "IBM Plex Sans";
    background-color: #1F242D;
    font-weight: 300;
    word-wrap: break-word;
}

#blogViewerContainer .date{
    color: var(--primary-color);
    font-size: 1.2vw;
    margin-top: 1vw;
    font-style: italic;
}
#blogViewerContainer .author{
    color: var(--primary-color);
    margin: 0.5vw 0 5vw 0;
    font-size: 1.2vw;
    display: inline-block;
}
#blogViewerContainer .author a{
    color: var(--primary-color);
}

#blogViewerContainer .title{
    font-size: 4.5vw;
    font-family: "Roboto";
    font-weight: 500;
}

#blogViewerContainer .content a{
   color: #31f0e3;
   
}
#blogViewerContainer .content{
    color: rgb(228, 228, 228);
    font-weight: 400;
 }


 /* TAGS */

#tagsContainer{
    width: 100%;
    position: relative;
    margin: 5vh 0;
}
#blogViewerContainer #tagsContainer .title{
    font-family: "Atomic Age", cursive;
    color: var(--primary-color);
    font-size: 2vw;
}
#tagsContainer .separator{
    background-color: var(--primary-color);
    height: 2px;
    width: 100%;
}
#tagsContainer .tags{

}
#tagsContainer .tags .tag{
    display: inline-block;
    background-color: var(--primary-color);
    padding: 0.5vw 1.5vw;
    margin: 0.5vw;
    border-radius: 20px;
    color: black;
    cursor: pointer;
    font-size: 0.9vw;
}

/* LAPTOP/MEDIUM SCREEN STYLES */
@media only screen and (min-width: 751px) and (max-width: 1920px) {
    #blogViewerContainer{
        width: 55%;
        margin-left: 10%;
    }
}

/* MOBILE STYLES */
@media only screen and (max-width: 750px) {
    #blogViewerContainer{
        width: 90%;
        margin-left: 5%;
        margin-top: 10vh;
    }
    #blogViewerContainer .date{
        font-size: 1.5vh;
        margin-top: 1vh;
    }
    #blogViewerContainer .author{
        margin: 0.5vh 0 5vh 0;
        font-size: 1.5vh;
    }
    #blogViewerContainer .title{
        font-size: 4.5vh;
    }
    #blogViewerContainer .content{
        line-height: 2em;
    }
     /* TAGS */

#tagsContainer{
    width: 100%;
    position: relative;
    margin: 2.5vh 0;
}
#blogViewerContainer #tagsContainer .title{
    font-family: "Atomic Age", cursive;
    color: var(--primary-color);
    font-size: 2.5vh;
}
#tagsContainer .separator{
    background-color: var(--primary-color);
    height: 2px;
    width: 100%;
}
#tagsContainer .tags{

}
#tagsContainer .tags .tag{
    padding: 1vw 3.5vw;
    margin: 0.5vh;
    font-size: 1.5vh;
}
}