#mainBlogHero{
    width: 100%;
    height: 60vh;
    margin-top: 10vh;
    background-image: url("/img/tech_hero.png");
    background-size: cover;
    background-position: center;
    position: relative;

}
#mainBlogHero .shader{
    display: inline-block;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}
#mainBlogHero .title{
    position: relative;
    font-size: 5vw;
    font-family: "Atomic Age", serif;
    text-align: center;
    top: 20%;
    font-weight: 100;
    z-index: 10;
}
#mainBlogHero .desc{
    position: relative;
    font-size: 1.5vw;
    text-align: center;
    top: 25%;
    z-index: 10;
    font-weight: 100;
}
#mainBlogHero a{
    display: inline-block;
    z-index: 10;
    position: relative;
    top: 35%;
    width: 25%;
    left:37.5%;
    text-align: center;
    text-decoration: none;
    background-color: #22AAA2;
    padding: 0.3vw 0;
    transition: 0.3s background-color;
    color: #000000;
    font-size: 2vw;
    font-weight: 100;
    border-radius: 6px;
}
#mainBlogHero a:hover{
    background-color: #1b8881;
}

#featuredPostsSection{

}
#featuredPostsSection .title{
    background-image: linear-gradient(to bottom, #ffffff, #e6ebf8, #c3daf0, #97cce3, #66bece, #4fb8c1, #39b1b3, #22aaa2, #22aaa2, #22aaa2, #22aaa2, #22aaa2);
    background-clip: text;
    -webkit-background-clip: text;
}
#featuredPostsSection .title span{
    color: transparent;
    font-size: 4vw;
}

#featuredPostsWrapper{
    display: inline-flex;
    width: 60%;
    margin-left: 20%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.blog-card-2{
    display: inline-flex;
    width: 40%;
    aspect-ratio: 3/1;
    margin: 2.5%;
    text-decoration: none;
    justify-content: space-between;
    border: 2px solid transparent;
}
.blog-card-2:hover{
    border: 2px solid #22AAA2;
}
.blog-card-2 .img{
    height: 100%;
    display: inline-block;
    width: 35%;
    background-color: #22AAA2;
}
.blog-card-2 .content{
    display: inline-block;
    width: 60%;
    color: white;
    text-decoration: none;
}
.blog-card-2 .content .title{

}
.blog-card-2 .content .desc{
    font-weight: 100;
}

#latestPostSection h1.title{
    text-align: center;
    font-weight: 100;
    font-size: 4vw;
    margin: 8vh 0 2.5vh 0;
}

#latestBlogCard{
    width: 50%;
    aspect-ratio: 3/1;
    background-color: #000000;
    border-radius: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}
#latestBlogCard:hover{
    box-shadow: 0 0 10px #22AAA2;
}
#latestBlogCard::after{
    position: absolute;
    display: inline-flex;
    content: "Read More";
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;
    top:0;
    right:0;
    z-index: 999;
    background-color: #1b8881;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    color: black;
    font-size: 2vw;
}
#latestBlogCard:hover::after{
    text-decoration: underline;
}

#latestBlogCard .content{
    display: inline-block;
    width: 70%;
    margin-left: 5%;
}
#latestBlogCard .content .title{
    font-weight: 300;
    font-size: 2.2vw;
}

#latestBlogCard .content .date{
    margin: 1% 0 2% 0;
    font-weight: 200;
    font-style: italic;
    font-size: 1vw;
}

#latestBlogCard .content .desc{
    font-size: 1.2vw;
    font-weight: 200;
}