@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200&family=Inspiration&family=Lobster&display=swap');
*{
    margin:0;
    padding: 0;
}
#pageID{
    display: none;
}
#root{
    /* position: relative; */
}
:root{
    --primary-color: #22AAA2;
    --secondary-color: #1A1C1E;
}

body{
    background-color: #1F242D;
    font-family: "Kanit", sans-serif;
    color: white;
    min-height: 100vh;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
#blueGlow1{
    display: inline-block;
    width: 20vw;
    height: 20vw;
    background-image: url("/img/blue_glow.jpg");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 300vh;
    left: 60vw;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.3;
}
#blueGlow2{
    display: inline-block;
    width: 11vw;
    height: 11vw;
    background-image: url("/img/blue_glow.jpg");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 170vh;
    left: 50vw;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.8;
}
#blueGlow3{
    display: inline-block;
    width: 25vw;
    height: 25vw;
    background-image: url("/img/blue_glow.jpg");
    background-size: 100%;
    background-position: center;
    position: absolute;
    top: 250vh;
    left:20vw;
    background-repeat: no-repeat;
    opacity: 0.5;
    z-index: 0;
}
#allContent{
    display: inline-block;
    position: relative;
    width: 90%;
    left:0;
}
#sideBar{
    position: fixed;
    margin-top: 4vw;
    right:10%;
    top:0;
    height: 100%;
    width: 8px;
    background-color: #22AAA2;
    z-index: 900;
}
#mainSection{
    height: 100vh;
    width: 100%;
    position: relative;
    background-image: url("/img/main_mobo.png");
    background-size: 40%;
    background-position: 80% center;
    background-repeat: no-repeat;
    margin-top: 4vw;
}

#aboutMe{
    position: absolute;
    color: black;
    background-color: #22AAA2;
    font-size: 1.5vw;
    top: 8vh;
    left: 25vw;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    display: inline-block;
    padding: 0.5vw 1.5vw;
    transform-origin: left;
    rotate: -2deg;
    text-decoration: none;
}

#aboutMe:hover{
    text-decoration: underline;
}

#aboutMe::after{
    content: "";
    position: absolute;
    height: 7vh;
    width: 2px;
    top: -7vh;
    left: 0.5vw;
    background-color: #e0e0e0;
    rotate: 2deg;
}
#aboutMe::before{
    content: "";
    position: absolute;
    height: 7vh;
    width: 2px;
    top: -7vh;
    right: 0.5vw;
    background-color: #e0e0e0;
    rotate: 2deg;
}

#aboutUs{
    position: absolute;
    height: 50%;
    top: 25%;
    width: 30%;
    margin-left: 2.5%;
}
#aboutUs h2{
letter-spacing: 0.5em;
font-size: 2.8vw;
font-weight: 300;
}
#aboutUs div{
    font-size: 1.2vw;
    font-weight: 200;
}
#aboutUs a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #22AAA2;
    padding: 0.5vw 0;
    transition: 0.3s background-color;
    color: #000000;
    width: 80%;
    margin-top: 5%;
    font-size: 2vw;
    font-weight: 100;
    border-radius: 6px;
}
#aboutUs a:hover{
    background-color: #1b8881;
}
#featuredBlogsContainer, #latestBlogsContainer, #improveBlogsContainer{
    padding: 2vw 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#featuredBlogsTitle, #latestBlogsTitle, #improveBlogsTitle{
    font-weight: 100;
    padding-left: 2vw;
    font-size: 5.5vw;
    color: transparent;
    display: inline-block;
    background: linear-gradient(to right, #ffffff, #dce5f6, #a7d1e9, #66bece, #22aaa2);
    background-clip: text;
    -webkit-background-clip: text;
}
/* Blog Card */
.blog-card{
    display: inline-block;
    width: 25vw;
    aspect-ratio: 1/1;
    background-color: #17191C;
    margin: 0 1vw;
    border-radius: 20px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: box-shadow 0.3s ease-in-out;
}
.blog-card:hover{
    box-shadow: 0 0 10px #22AAA2;
}
.blog-card::after{
    position: absolute;
    content: "Read More";
    background-color: #22AAA2;
    color: #000;
    text-align: center;
    display: inline-block;
    width: 50%;
    top:0;
    right:0;
    padding: 0.5vw 0;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.8vw;
    font-weight: 300;
}
.blog-card:hover::after{
    text-decoration: underline;
}

.blog-card .title{
    display: inline-block;
    font-weight:300;
    font-size: 2vw;
    margin-top: 20%;
    width: 90%;
    margin-left: 5%;
}
.blog-card .desc{
    display: inline-block;
    font-weight:100;
    font-size: 1.3vw;
    margin-top: 5%;
    width: 80%;
    margin-left: 10%;
    color: rgb(235, 235, 235);
}

/* FOOTER */
body{
    position: relative;
    padding-bottom: 35vh;
    min-height: 90vh;
}
/* FOOTER */

footer{
    position: absolute;
    height: 30vh;
    background-color: #1A1C1E;
    z-index: 950;
    bottom: 0;
    left:0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    width: 100%;
    color: #22AAA2;
}

footer .socials, footer .contact{
    margin-top: 0;
    width: 25%;
    height: 100%;
    display: inline-block;
    position: relative;
    z-index: 999;
}
footer .socials .title, footer .contact .title{
    font-family: "Atomic Age", serif;
    text-align: center;
    font-size: 3vw;
    font-weight: 200;
    width: 100%;
}

footer .socials .social-icons{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    top: 10%;
}
footer .socials .social-icons a{
    width: 20%;
    aspect-ratio: 1/1;
    margin: 2%;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
}
.contact-items{
    top: 15%;
    position: relative;
}
footer .socials .social-icons a:hover, .contact-items a:hover{
    filter: drop-shadow(0 0 10px #22aaa190);
}
.social-icons .twitter{
    background-image: url(/img/twitter.svg);
}
.social-icons .instagram{
    background-image: url(/img/instagram.svg);
}
.social-icons .youtube{
    background-image: url(/img/youtube.svg);
}

.contact-items a{
    color: #22AAA2;
    display: block;
    text-align: center;
    font-size: 1.2vw;
}

/* CATEGORIES */
#categoriesSection .title{
    font-weight: 100;
    font-size: 5.5vw;
    text-align: center;
    margin-top: 5vh;
    font-family: "Atomic Age", serif;
}
#categoryWrapper{
display: inline-flex;
width: 50%;
flex-wrap: wrap;
margin: 5vh 25% 10vh 25%;
}
#categoriesSection .category{
    margin: 1vw;
    position: relative;
    justify-content: space-evenly;
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1.2vw;
    border-radius: 10px;
    aspect-ratio: 3.5/1;
    width: 28%;
    font-weight: 100;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition: scale 0.3s ease-in-out;
}
#categoriesSection .category:hover{
    scale: 1.1;
}

.category.react, #blogCategoryHero.react .title{
    background-image: linear-gradient(to right, #ffffff, #eaf0ff, #c3e6ff, #89deff, #00d8ff);
    border: 2px solid #00d8ff;
}
.category.javascript, #blogCategoryHero.javascript .title{
    background-image: linear-gradient(to right, #ffffff, #ffeaff, #ffd0d9, #ffc981, #f7df1e);
    border: 2px solid #f7df1e;
}
.category.html, #blogCategoryHero.html .title{
    background-image: linear-gradient(to right, #ffffff, #f2d5f4, #fca4cc, #ff7184, #e44d26);
    border: 2px solid #e44d26;
}
.category.css, #blogCategoryHero.css .title{
    background-image: linear-gradient(to right, #ffffff, #d6d0fa, #a9a2f4, #7776ed, #264de4);
    border: 2px solid #264de4;
}
.category.php, #blogCategoryHero.php .title{
    background-image: linear-gradient(to right, #ffffff, #dddbea, #bab8d5, #9797c1, #7377ad);
    border: 2px solid #7377ad;
}
.category.node, #blogCategoryHero.node .title{
    background-image: linear-gradient(to right, #ffffff, #d5e6f7, #95d4e0, #68bfab, #70a462);
    border: 2px solid #70a462;
}

#newsLetterHighlighter{
    position: fixed;
    display: none;
    background-color: rgba(0,0,0,0.7);
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    z-index: 950;
}

#newsletterSection{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 0;
    z-index: 960;
}
#embeddedNewsletterWrapper{
    display: inline-block;
    width: 60%;
    height: 28vh;
    border-top: 2px solid #22AAA2;
    border-bottom: 2px solid #22AAA2;
    background-color: #1F242D;
    z-index: 960;
}
#embeddedFormDesc{
    font-size: 1.3vw;
    line-height: normal;
}
@media only screen and (max-width: 750px) {
    #blueGlow1{
        width: 20vw;
        height: 20vw;
        top: 20vh;
        left: 60vw;
    }
    #blueGlow2{
        width: 11vh;
        height: 11vh;
        top: 110vh;
        left: 50vw;
    }
    #blueGlow3{
        width: 40vw;
        height: 40vw;
        top: 150vh;
        left:20vw;
    }
    #sideBar{
        margin-top: 4vw;
        width: 4px;
    }
    #mainSection{
        height: 70vh;
        width: 100%;
        background-size: 80%;
        background-position: 80% 70%;
        margin-top: 4vw;
    }
    
    #aboutMe{
        font-size: 2vh;
        left: 50vw;
        padding: 0.5vh 1.5vh;
    }
    
    #aboutUs{
        position: absolute;
        padding: 2vh 10%;
        height: auto;
        top: 35%;
        width: 80%;
        margin-left: 0%;
        background-color: rgba(0,0,0,0.4);
    }
    #aboutUs h2{
    letter-spacing: 0.5em;
    font-size: 3vh;
    font-weight: 300;
    }
    #aboutUs div{
        font-size: 2vh;
        font-weight: 200;
    }
    #aboutUs a{
        padding: 0.5vh 0;
        width: 80%;
        margin-top: 5%;
        font-size: 2vh;

    }
    #featuredBlogsContainer, #latestBlogsContainer, #improveBlogsContainer{
        padding: 2vh 0;
        flex-wrap: wrap;
    }
    #featuredBlogsTitle, #latestBlogsTitle, #improveBlogsTitle{
        padding-left: 0;
        font-size: 5.5vh;
        text-align: center;
        display: block;
    }
    /* Blog Card */
    .blog-card{
        width: 80%;
        margin: 1vh;
        border-radius: 0;
        aspect-ratio: 1.5/1;
        overflow: hidden;
    }
    .blog-card::after{
        padding: 0.5vh 0;
        border-bottom-left-radius: 0;
        border-top-right-radius: 0;
        font-size: 2vh;
    }
    .blog-card:hover::after{
        text-decoration: underline;
    }
    
    .blog-card .title{
        display: inline-block;
        font-weight:100;
        font-size: 2.6vh;
        margin-top: 11%;
        width: 90%;
        font-weight: 400;
        margin-left: 5%;
    }
    .blog-card .desc{
        font-size: 1.8vh;
        margin-top: 1%;
        width: 90%;
        margin-left: 5%;
    }

     /* CATEGORIES */
     #categoriesSection .title{
        font-size: 4vh;
        text-align: center;
        margin-top: 6vh;
    }
    #categoryWrapper{
    display: inline-flex;
    width: 90%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 2.5vh 5% 10vh 5%;
    }
    #categoriesSection .category{
        margin: 1vh;
        font-size: 2vh;
        border-radius: 8px;
        width: 40%;
    }
    
    .category.react{
        background-image: linear-gradient(to right, #ffffff, #eaf0ff, #c3e6ff, #89deff, #00d8ff);
        border: 2px solid #00d8ff;
    }
    .category.javascript{
        background-image: linear-gradient(to right, #ffffff, #ffeaff, #ffd0d9, #ffc981, #f7df1e);
        border: 2px solid #f7df1e;
    }
    .category.html{
        background-image: linear-gradient(to right, #ffffff, #f2d5f4, #fca4cc, #ff7184, #e44d26);
        border: 2px solid #e44d26;
    }
    .category.css{
        background-image: linear-gradient(to right, #ffffff, #d6d0fa, #a9a2f4, #7776ed, #264de4);
        border: 2px solid #264de4;
    }
    .category.php{
        background-image: linear-gradient(to right, #ffffff, #dddbea, #bab8d5, #9797c1, #7377ad);
        border: 2px solid #7377ad;
    }
    .category.node{
        background-image: linear-gradient(to right, #ffffff, #d5e6f7, #95d4e0, #68bfab, #70a462);
        border: 2px solid #70a462;
    }


    
    #newsletterSection{
        padding: 5vh 0;
    }
    #embeddedNewsletterWrapper{
        width: 90%;
        height: 28vh;
    }
    #embeddedFormDesc{
        font-size: 1.5vh;
        line-height: normal;
    }

#improveBlogsTitle, #improveBlogsContainer{
    margin-top: 2vh;
}
    body{
        position: relative;
        padding-bottom: 25vh;
        min-height: 90vh;
    }
    /* FOOTER */
    footer{
        height: 20vh;
        bottom:0;
        position: absolute;
    }
    
    footer .socials, footer .contact{
        top: 20%;
        height: 80%;
        width: 45%;
    }
    footer .socials .title, footer .contact .title{
        font-size: 3vh;
    }
    
    .contact-items{
        margin-top: -0.5vh;
    }
    .contact-items a{
        font-size: 1.5vh;
    }
    
}